

.footer {
    color: #fff;
    font-size: 14px;
    h5 {
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding: 8px 0;
        color: #fff;
    }
    ul {
        li {
            a {
                text-decoration: none;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                color: #fff;
                &.social-ico {
                     border: 1px solid rgba(255, 255, 255, 0.3);
                     border-radius: 4px;
                }
            }
            margin: 3px 0;
        }
    }
     a {
                text-decoration: none;
                font-size: 14px;
                line-height: 20px;
                font-weight: 300;
                color: #fff;
                &.social-ico {
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    border-radius: 4px;
                    width: 32px;
                    height: 32px;
                    display: inline-block;
                    padding: 5px;
                }
            }
}


    /*-----------Footer---------------*/


    .bg-dark-primary {
        background-color: #074D31;
    }

    .underline-list li a{
        text-decoration: underline !important;
    }
    .footer-logos img{
        margin: 10px;
    }