// .service-bg {
//     background-color: #F7FDF9;
//     height: 298px;
// }
.tabs-section {
    margin-top: 60px;
    .nav-tabs {
        border: 0;
    .nav-link {
        border: 0;
        color: #384250;
        &.active {
           border-bottom: 3px solid #1B8354;
    padding: 8px 0px !important;
    font-weight:700 ;
        }
    }
    }
}

.service-bg::before {
  content: "";
  display: block;
  background-color: #F7FDF9; /* or any color */
  height: 298px;             /* desired background height */
  width: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
}
.position-relative {
    position: relative;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #9DA4AE;
}
.breadcrumb {
    li {
        a {
            text-decoration: none;
            color: #384250;
            
        }
        &.active {
                a {
                    color: #9DA4AE;
                }
            }
    }
}
        .bread-btn {
            font-size: 12px;
            border-radius: 4px;
            margin: 0 4px;
            &.grey {
                background-color: #F9FAFB;
                border: 1px solid #E5E7EB;
            }
            &.blue {
                background-color: #EFF8FF;
                border: 1px solid #B2DDFF;
            }
            &.green {
                background-color: #ECFDF3;
                border: 1px solid #ABEFC6;
            }
        }

        .inner-section {
            ol.info-ol {
                margin-top: 24px;
                li {
                    font-size: 16px;
                    line-height: 24px;
                    margin: 8px 0;
                }
            }
        }
        .bg-light-green {
            background-color: #F7FDF9;
        }

        ul.aside-top-list {
            margin-left: 15px;
            li {
                line-height: 24px;
                padding:8px 0;
                list-style: none;
                position: relative;
                svg {
                    position: absolute;
                    right: -30px;
                }
            }
        }

        .aside-bar {
            padding: 40px;
            border-radius: 16px !important;
        }
        .play-store-btns{
            img {
                margin-left:12px;
            }
        }
        .mt-12 {
            margin-top: 12px;
        }
        .btn-light-grey {
            background-color: #F3F4F6;
        }

        .feedback-section {
            padding: 24px 0px;
        }

        .rating-section {
            border-top: 2px solid #1B8354;
            border-bottom: 2px solid #1B8354;
            padding: 24px 0px;
        }
        .stars {
            .star-item {
                
                    &.selected-star {
                        svg {
                    fill: #1B8354;
                    path {
                        fill: #1B8354;
                    }
                    }
                }
                
            }
        }
        .align-self-center {
            align-self: center;
        }

        .custom-boxes {
            border-radius: 0em !important;
                width: 1.2em;
    height: 1.2em;
    margin-top: .1em;
        }

        .custom-boxes.form-check-input[type=checkbox] {
            border-radius: .25em;
        }
        .custom-boxes.form-check-input:checked {
            background-color: #000;
            border-color: #000;
        }
        .custom-boxes.form-check-input[type=checkbox]:indeterminate {
            background-color: #000;
            border-color: #000
        }